/*Reseting*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 16px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*=========================================================================================================*/
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
/**/
/*=========================================================================================================*/
/*Color Variables*/
// ### Primary

$Moderate-blue: hsl(238, 40%, 52%);
$Soft-Red: hsl(358, 79%, 66%);
$Light-grayish-blue: hsl(239, 57%, 85%);
$Pale-red: hsl(357, 100%, 86%);

// ### Neutral

$Dark-blue: hsl(212, 24%, 26%);
$Grayish-Blue: hsl(211, 10%, 45%);
$Light-gray: hsl(223, 19%, 93%);
$Very-light-gray: hsl(228, 33%, 97%);
$White: hsl(0, 0%, 100%);

/*=========================================================================================================*/
:root {
   font-family: 'Rubik', sans-serif;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   background-color: $Very-light-gray;
}

.container {
   max-width: 1440px;
   margin: 3rem auto;
}

.comments {
   background-color: $White;
   border-radius: 10px;

   &__comment {
      padding: 1.5rem;
      display: flex;
   }

   &__score {
      height: 100px; // Bax gor başqa üsul var ya yox
      padding: .5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      background-color: $Light-gray;
   }
   
   &__points {
      color: $Moderate-blue;
      font-weight: 500;
   }

   &__body {
      margin-left: 1.5rem;
   }

   &__header {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
   }

   &__user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
         width: 35px;
      }
   }
   &__user > * {
      margin-right: 1rem;
   }

   &__user-name {
      font-weight: 500;
      color: $Dark-blue;
   }

   &__reply-date {
      color: $Grayish-Blue;
   }

   &__reply {
      background-color: transparent;
      color: $Moderate-blue;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      align-items: center;
      img {
         margin-right: .4rem;
         width: 15px;
      }
   }

   &__text {
      line-height: 20px;
      color: $Grayish-Blue;
   }
}